h1 {
    color: orange;
    font-weight: bold;
    text-align: center;
    background-color: rgb(226, 224, 224);
    font-size: 35px;
}

li{
    color: #4A4A4A;
    font-size: 20px;
}
img{
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    border-radius: 29px; 
}

h2,
h3,
h4{
   color: #E3B261;
    font-weight: 700;
    text-align: center;
    font-size: 29px;
}

p{
    color: #4A4A4A;
    font-size: 16px;

}